---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-8.offset-2
			
			
			%h1.x-large
				Hello there, I’m Gearoid.	
							
%section.site-section 
	.grid-container
		.g-s-2
		.g-s-8.post
			%p.standfirst.large Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
	.grid-container
		.g-s-2
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
			%h4 Design @ Startups
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
			%h4 Type on Mars
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.  
			%hr
			%h2 
				Career to date
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
	.grid-container	
		.g-s-2
			%h2.small.sidecar Career highlights
		.g-s-1
			%ol.career-list
				%li.year.meta 2020 					
				%li.year 2016 
				%li.year 2015 
				%li.year 2013 
				%li.year 2012 
				%li.year 2011 
		.g-s-4
			%ol.career-list
				%li.meta Something new
				%li VP Design, AngelList
				%li Global Head of Design, Helpling
				%li Head of Growth & Design, Hassle.com
				%li Global Head of Design, Helpling
				%li Head of Growth & Design, Hassle.com
	.grid-container	
		.g-s-2
		.g-s-6.post
			%hr
			%h2 Projects & launches
			%p 	Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
	.grid-container	
		.g-s-2
			%h2.small.sidecar 
				Project highlights
		.g-s-1
			%ol.career-list
				%li.year 2020					
				%li.year 2016 
				%li.year 2013

				
		.g-s-4
			%ol.career-list
				%li Startup profiles 
				%li A-List 
				%li Dublin, Macnhester &amp; Paris city launchses
		
		.g-s-3
			%ol.career-list
				%li.meta VP Design, AngelList
				%li.meta VP Design, AngelList
				%li.meta Head of Growth &amp; Design, Hassle.com
			


	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h2 Supporting the design community
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 


	.grid-container	
		.g-s-2
			%h2.small.sidecar 
				Events organized
		.g-s-1
			%ol.career-list
				%li.year 2020					
				%li.year 2016 
				%li.year 2015 
				%li.year 2013 
		.g-s-5
			%ol.career-list
				%li Design Leadreship Dinner Series
				%li Datamat.es
				%li SevenStopsSouth
				%li Design+Banter	
				
	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h2 Speaking at events
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 


	.grid-container	
		.g-s-2
			%h2.small.sidecar 
				Selected talks
		.g-s-1
			%ol.career-list
				%li.year 2020	
				%li.year 2016					
			
		.g-s-4
			%ol.career-list
				%li First Fridays for Startups
				%li First Fridays for Startups
				
		
		.g-s-3
			%ol.career-list
				%li.meta Dublin, Ireland
				%li.meta Dublin, Ireland
					
					
	
	
		
