---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-2
		
		.g-s-6
			
			
			
			%h1.xx-large
				Hello there, I’m Gearóid &mdash;
							
%section.site-section 
	.grid-container
		.g-s-2
			%img{:src => "/images/me/avatar.png", :width => "75%"}
		.g-s-8.post
			%p.standfirst.large 
				I’m an experienced designer and startup executive, living in Brooklyn, New York. I grew up in rural Ireland where my parents gifted me with 
				%a{:title => :"How to say Gearóid", :href=> :"/how-to-say-gearoid"} a <i>very</i> Irish name. 
				Hiking and meditation help me find perspective, typography and rugby are where I nerd out, and natural wine is my vice.	
			
			
	.grid-container
		.g-s-2
		.g-s-6.post
		
			
			:markdown
				Most recently I led design at [AngelList](http://angel.co "AngelLIst") &mdash; the world’s largest startup community &mdash; where I focused on growing our design team and buildimg our jobs marketplace. Currently, I’m taking some time to travel and reset.  
			
				I’ve been working as a designer for almost 15 years. In that time I’ve designed books, building signage, interfaces, illustrations and more. Like all designers, I dream of one day designing an airplane livery, a chair, and a house. These days, however, I increasingly find myself at the intersection of the ‘product’ and ‘design’	 disciplines.
				
				I got into design by making posters for my friends’ bands and events. Then took a detour through the world of newspaper design. I still love newspapers and think web design can learn a whole lot more from them.

				As a design leader, I tend to be more people-focused than pixel-focused — though that dichotomy is a huge oversimplification. I truly love working with a team to help them identify, manifest and sustain the ideal conditions for their success. If you work with me, we will have ongoing conversation about ‘how you do your best work’.
		
		.g-s-3
			%ul.jump-links 
				%p.meta Jump to
				%li
					%a{:title => :"AngelList", :href=> :"#angellist"} AngelList <span class="mono">&darr;</span>					
				%li
					%a{:title => :"Design communities", :href=> :"#design-communities"} Design communities <span class="mono">&darr;</span>
				%li
					%a{:title => :"Talks and workshops", :href=> :"#talks-amp-workshops"} Talks &amp; workshops <span class="mono">&darr;</span>
				
	%figure.grid-container.post
		
		
		.g-s-10
			
			%img{:src => "/images/me/design-and-banter.jpg"}
		.g-s-2
			%figcaption.x-small 
				<br/>
				Presenting at Design+Banter in London, 2015. I’m the one with the microphone. <br/><br/>Photo courtesy of <a href="http://joewatts.co/about.html" el="nofollow">Joe Watts</a>.	
				
	.grid-container
		.g-s-2
		.g-s-6.post
			:markdown			
				### AngelList
			
				I joined AngelList in 2016 with a mission to make finding a job, or conversely making a new hire, a more human experience. Since then we’ve moved the needle in the right direction, but there’s still a lot to be done. 
				
				Soon after joining the company, I became the fouth person in a ‘skunkworks’ team developing an entirely new product offering — <a href="a-list.co">A&ndash;List</a>. Over the next three years, we grew A&ndash;List into a double-digit-million dollar business. That was pretty fun. 
				
				
				One of my proudest acheivements at AngelList is scaling the design team from two to twelve designers and simulataneusly establishing design as a top-level team in the ogranisation. The deisgn team shipped entire new products, relaunches of existing core products and significantly improved the experience of over 10million job seekers.
					
				As part of the executive team, I contributed to product and business strategy, was integral to delivering key product relaunches, and was part of the deal team on two company acquisitions. 	
					
				Apart from my time at AngelList, I’ve had an intentionally varied career &mdash; from journalist, to designer, to growth-marketer, to design manager. I try to bring what I’ve learnt from each stage with me to the next. The consistent threads have been a focus on narrative and on people. 
			
			

	.grid-container	
		.g-s-2
			%h2.small.sidecar.ll Career highlights
			
		.g-s-6
	
					
			
			%ol.lined-list
				
			
				== {% for job in site.data.jobs %}
  
			
				%li.grid-container	
					%p.g-s-2.meta 
						{{job.year}}
					%p.g-s-8 
						{{job.role}}, {{job.company}}
					%p.g-s-2.meta
						{{job.city}}
		  
				== {% endfor %}
			.post
				%hr
				
	.grid-container
		.g-s-2
		.g-s-6
			.post
				
				:markdown
					### Design communities
					Bringing people together to talk about design is something I really enjoy — whether thats a full-scale design event or a small dinner.
	
					Between 2013 and 2015 I ran an event called [Design+Banter](http://designandbanter.com/) with my buddy [Sam](https://twitter.com/thesamwillis). We started it to meet other designers and to get to know the design community in London. It regularly attracted over 200 attendees a month, sold-out in under a minute and featured world-class design speakers from across the globe. With my move to New York on the horizon, we called it a day in late 2015 after twenty successful events.
	
	.grid-container	
		.g-s-2
			%h2.small.sidecar.ll Events organized
				
		.g-s-6
			%ol.lined-list
				
				== {% for event in site.data.events %}

				%li.grid-container	
					%p.g-s-2.meta 
						{{event.year}}
					%p.g-s-8 
						{{event.name}}
					%p.g-s-2.meta
						{{event.city}}
		  
				== {% endfor %}
			.post
				%hr
				
				
	.grid-container
		.g-s-2
		.g-s-6
			.post
				:markdown
					### Talks &amp; workshops

					Much of my time in recent years has been focused on organizing events or providing a platform for other speakers in the design industry, rather than delivering talks myself. That said, I have taken some opportunities to speak at a small selection of events, and I'm trying to make time to do more:
			
	.grid-container	
		.g-s-2
			%h2.small.sidecar.ll Selected talks
				
		.g-s-6
			%ol.lined-list
				
				== {% for event in site.data.talks %}

				%li.grid-container	
					%p.g-s-2.meta 
						{{event.year}}
					%p.g-s-8 
						{{event.name}}
					%p.g-s-2.meta
						{{event.city}}
		  
				== {% endfor %}
	
	.grid-container
		.g-s-2
		.g-s-6
			.post
				:markdown
					Much of my time in recent years has been focused on organizing events or providing a platform for other speakers in the design industry, rather than delivering talks myself. That said, I have taken some opportunities to speak at a small selection of events, and I'm trying to make time to do more:		
					
			
	.grid-container	
		.g-s-2
			%h2.small.sidecar.ll Selected workshops
				
		.g-s-6
			%ol.lined-list
				
				== {% for event in site.data.workshops %}

				%li.grid-container	
					%p.g-s-2.meta 
						{{event.year}}
					%p.g-s-8 
						{{event.name}}
					%p.g-s-2.meta
						{{event.city}}
		  
				== {% endfor %}	
	
	.grid-container
		.g-s-2
		.g-s-6
			.post
				:markdown
					<br/>
					If you are interested in having me to speak...	
