---
title: Gearoid O'Rourke
---
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}
		
	%body
		%header
			%nav.site-section.global-nav
				.grid-container
					.g-s-2
						%a.logo{:title => :"Profile", :href=> :"/profile"} Gearoid O'Rourke
					.g-s-1
						%a{:title => :"Profile", :href=> :"/profile"} Profile
					.g-s-1
						%a{:title => :"Writing", :href=> :"/writing"} Writing
					.g-s-1
						%a{:title => :"Events", :href=> :"/events"} Events
							
		%main
			%article.site-section.post
				.grid-container
					.g-s-8.offset-2
						%h1.x-large.headline Running better one-to-ones
				
				.grid-container
					.g-s-2
						.meta-data
							%span.small.sidecar.date 14 February, 2020
							%span.small.sidecar.words 728 words
							%span.small.sidecar.tags #designhiring
					.g-s-7
						%p.standfirst.medium 
							As a design leader, I tend to be more people-focused than pixel-focused. I love great design, but I truly enjoy working with my team to help them identify, create and sustain the conditions for their success. If you've ever worked with me, you'll have heard the question "How do you do your best work?" more than a few times.
				.grid-container
					.g-s-2
					.g-s-6
						:markdown
							Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
							
							
							Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, [Duck Duck Go](https://duckduckgo.com) and was part of the deal team on three acquisitions totaling more than $50M in value.
							
							## Second level heading
							
							Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, [Duck Duck Go](https://duckduckgo.com) and was part of the deal team on three acquisitions totaling more than $50M in value.  
							
							
							### Third level heading
							
							Design at AngelList, the world's largest startup jobs market place. At <i>AngelList</i> I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
							
							> Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
							
							#### Fourth level heading
							
							Design at AngelList, the world's largest startup jobs market place. At AngelList  I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of <span class="foot-ref"><a href="">[1]</a></span> the deal team on three acquisitions totaling more than $50M in value. 
							
							##### Fifth level heading
							
							1. A list of items
							2. Is a very interesting thing
							3. But is a pain in markdown
							
							Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 

							
							##### Fifth level heading
							* A list of items 
							* Is a very interesting thing
							* But is a pain in markdown
							
							Design at AngelList, the world's largest startup jobs market place. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 

				.grid-container
					.g-s-2
					.g-s-6
						%ol.footnote-list
							%li.footnote.x-small.meta
								hello I am a footnote
							%li.footnote.x-small.meta
								wow look at taht, so am I

		%footer
			%nav.site-section.global-nav
				.grid-container
					.g-s-2
						%a.logo{:title => :"Profile", :href=> :"/profile"} Gearoid O'Rourke
					.g-s-1
						%a{:title => :"Profile", :href=> :"/profile"} Profile
					.g-s-1
						%a{:title => :"Writing", :href=> :"/writing"} Writing
					.g-s-7
						%a{:title => :"Events", :href=> :"/events"} Events
					.g-s-1
						%p.meta.x-small © 2013—{{site.time | date: "%Y"}}