---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-8.offset-2
			
			
			%h1.large
				Colophon

%section.site-section 
	
	.grid-container	
		.g-s-2
			%h2.small.sidecar Typography
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product <a>relaunches</a>, and was part of the deal team on three acquisitions totaling more than $50M in value.
		.g-s-1
		.g-s-2 
			%p
				%a 
					Tiempos 
					%img 
			%p
				%a National 2 
				
	.grid-container	
		.g-s-2
			%h2.small.sidecar Development
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
		.g-s-1
		.g-s-2 
			%p
				%a.meta Jekyll
			%p
				%a.meta Github
				
				
	.grid-container	
		.g-s-2
			%h2.small.sidecar Tools
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
		.g-s-1
		.g-s-2 
			%p
				%a.meta Atom
			%p
				%a.meta Notion
				
	.grid-container	
		.g-s-2
			%h2.small.sidecar Thanks
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
		

