---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-8.offset-2
			
			
			%h1.large
				Colophon

%section.site-section 
	
	.grid-container	
		.g-s-2
			%h2.small.sidecar Typography
			
		.g-s-6.post
			:markdown
				The type on this website is set in [Tiempos](https://klim.co.nz/collections/tiempos/ "Tiempos, by Klim Type Foundry") and [Söhne](https://klim.co.nz/collections/soehne/ "Söhne, by Klim Type Foundry"), both from the [Klim Type Foundry](https://klim.co.nz/ "Klim Type Foundry") in New Zealand. 

				Article headlines and page titles are set in Tiempos Headline. Body text is set in Tiempos Text.  I chose Tiempos for it’s roots in Times New Roman and for its associations with newspaper design. 
			
				Supporting headings, navigation and some lists are set in Söhne Buch. I chose Söhne for its feeling of ubiquity, it's evident craftsmanship, and for it’s association with my adopted home of New York. 
				
				You can read loving descriptions of the [development of Tiempos](https://klim.co.nz/blog/tiempos-design-information/ "Tiempos design information") and the [development of Söhne](https://klim.co.nz/blog/soehne-design-information/ "Söhne design information") on the Klim blog. 
				
				
			%hr
	
				
	.grid-container	
		.g-s-2
			%h2.small.sidecar Development
		.g-s-6.post
			:markdown
				This site is compiled using the static site generator [Jekyll](jekyllrb.com "Jekyll") and hosted on [Github Pages](https://pages.github.com/ "Github Pages"). It is coded “by hand” in a effort to revive my atrophied web-development skills. To save a few key strokes, it uses [HAML](http://haml.info/ "HAML") and [SASS](https://sass-lang.com/ "SASS"). Articles are written in [Markdown](https://daringfireball.net/projects/markdown/ "Markdown"). There’s nothing more complicated going on.

				Some early pages were coded with the [Atom](https://atom.io/ "Atom") code editor, but I subsequently switched back to trusty old [Coda 2](https://panic.com/coda/ "Coda 2"). I used [Figma](https://www.figma.com/ "Figma") for some early type explorations, but after that everything has been “designed in the browser”. 
				
				I write articles in [DayOne](https://dayoneapp.com/ "DayOne") and also use it to capture any stray-but-intriguing thoughts. My avatar and most article illustrations are designed in Figma. A backlog of fixes and tasks related to this site are housed in [Notion](https://notion.so "Notion").
			%hr
				

				
	.grid-container	
		.g-s-2
			%h2.small.sidecar Thanks
		.g-s-6.post
			%p A coterie of friends and family read early drafts of my articles, or support my work, and deserve thanks for this. My thanks to Carolyn Huang, Nikki Sherry, Martin McKenna, Utku Can, Nora O'Rourke and Daire Hickey. My thanks also to you, reader, for getting this far.
		

