---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-8.offset-2
			%h1.huge.sans
				Gearóid
			%h1.huge
				“gah&mdash;road”
				
%section.site-section 
	.grid-container
		.g-s-2
			%h2.small.sidecar Career highlights
		.g-s-6
			hello