---
title: Story Time
---
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}
		
	%body
		%header
			%nav.site-section.global-nav
				.grid-container
					.g-s-2
						%p.small.meta Gearoid O'Rourke
					.g-s-1
						%a{:title => :"Profile", :href=> :"/profile"} Profile
					.g-s-1
						%a{:title => :"Writing", :href=> :"/writing"} Writing
					.g-s-1
						%a{:title => :"Events", :href=> :"/events"} Events
							
			%section.site-section.introduction 
				.grid-container
					.g-s-8.offset-2
						%h1.large
							Hello there, I’m Gearoid — a designer, design manager and 
							startup executive, based in Brooklyn. I currently work at Spotify on 
							our free service. I’m an avid hiker, wine drinker and 
							long-suffering Irish rugby fan. 
					
			%section.site-section#career 
				.grid-container	
					.g-s-2
						%h2.small.sidecar Recent career
					.g-s-1
						%ol.career-list
							%li.year 2020 					
							%li.year 2016 
							%li.year 2015 
							%li.year 2013 
					.g-s-3
						%ol.career-list
							%li Design Manager, Spotify
							%li VP Design, AngelList
							%li Global Head of Design, Helpling
							%li Head of Growth & Design, Hassle.com				
				
		%main
			%section.site-section.tinted 
				.grid-container
					.g-s-8.offset-2
						%h1.large.list-push Writing
				
				.article-list
					.grid-container
						.g-s-2					
							%h2.small.sidecar Popular posts
						.g-s-8
							%ol
								%li
									%article
										%h1.medium Comissioning an illustrator for your brand
										%p.meta.x-small  
											%span 14 February, 2020
											%span #brand
											%span 723 words	 	
								%li
									%article
										%h1.medium  Interviewing your new manager
										%p.meta.x-small  
											%span 14 February, 2020
											%span #younextjob
											%span 723 words	 	
								%li
									%article
										%h1.medium  Running better one-to-ones
										%p.meta.x-small  
											%span 14 February, 2020
											%span #beingamanager
											%span 723 words	 	
			
				.article-list
					.grid-container
						.g-s-2		
							%h2.small.sidecar Recent posts
						.g-s-8
							%ol
								%li
									%article
										%h1.medium  Things fall apart
										%p.meta.x-small   
											%span 14 February, 2020
											%span #beingamanager
											%span 723 words	
								%li
									%article
										%h1.medium  Running a weekly design team meeting
										%p.meta.x-small  
											%span 14 February, 2020
											%span #beingamanager
											%span 723 words	 	
								%li
									%article
										%h1.medium  Developing new managers
										%p.meta.x-small 
											%span 14 February, 2020
											%span #beingamanager
											%span 723 words	 	
								%li
									%article
										%h1.medium  Building a design system for a fractured team
										%p.meta.x-small 
											%span 14 February, 2020
											%span #designops
											%span 723 words	 	
								%li
									%article
										%h1.medium Ice-breakers actually work, try these ones
										%p.meta.x-small 
											%span 14 February, 2020
											%span #beingamanager
											%span 723 words	 	
		
		%footer
			footer