---
---

// MIXINS

// Type
@mixin sans {font-family: "National 2 Test", sans-serif;}
@mixin serif {font-family: "Tiempos Text Test", serif;}
@mixin headline {font-family: "Tiempos Headline Test", serif;}

// Colors
$d-100: hsla(234, 44%, 8%,  1.0);
$d-90:  hsla(234, 44%, 8%,  0.9);
$d-60:  hsla(234, 44%, 8%,  0.6);
$d-30:  hsla(234, 44%, 8%,  0.3);
$d-10:  hsla(234, 44%, 8%,  0.1);
$link:  hsla(215, 79%, 52%, 1.0);

// Backgrounds
@mixin tinted {background: hsla(36, 20, 98, 1);}
@mixin dark {background: hsla(0, 0, 7, 1);}


// ———————————————————
// TYPE
// ———————————————————

body {
	@include sans;
	color: $d-90;
	font-size: 16px;
	line-height: 1.75rem;
	font-weight: 400;
  }
  
  
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;	
	font-weight: 400;
}

h1 {
	@include headline;
		font-weight: 600;
}

.x-small {
	font-size: 0.875em;
}

.small {
	font-size: 1rem;
}

.medium {
	font-size: 1.125rem;
	line-height: 2rem;
}

.large {
	font-size: 1.5rem;
	line-height: 2rem;
}

.x-large {
	font-size: 1.75rem;
	line-height: 2rem;
}

.allcaps {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.sidecar {
	color: $d-60;	
}

.meta {
	color: $d-30;
	@include sans;
}

a {
	color: $link;
	text-decoration: none;
	&:hover {	
		
	}
}

// ——————————————————— 
// LAYOUT
// ———————————————————

body, html {
	padding: 0;
	margin: 0;
  }
  
.site-section {
	padding: 5rem 3rem;
// 	background: red;
}

.tinted {
	@include tinted;
}


// ———————————————————
// GRID
// ———————————————————
  
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1.5rem;
// 	max-width: 1280px;
	margin: 0 auto;
// 	background: pink;
}

$sizes: 1,2,3,4,5,6,7,8,9,10,11,12;

@each $size in $sizes {
  .g-s-#{$size} {
	grid-column: span $size;
// 	background: #ffe7e7;
	}
}

.offset-2 {
	grid-column: 3 / span 8
}

// ———————————————————
// MODULES
// ———————————————————

// Introduction
.introduction {
	padding: 3rem 3rem 1rem 3rem;
	
	h1 {
		
	}
}

// global-nav

.global-nav {
	padding: 3rem;
	
	a {
		color: $d-30;
		&:hover {
			text-decoration: underline;
		}
	}
	
	.logo {
		color: $d-60;
	}
}

// Career list
.career-list {
	list-style: none;

	li {
		margin-bottom: 0.125rem;
	}
	
	.year {
		color: $d-30;
	}

}

// Article list
.article-list {
	margin-bottom: 7rem;
	a {
		color: inherit;
		display: block;
		padding: 1.5rem 0;
		&:hover {
			h1 {
				text-decoration: underline;
			}
		}
	}
	ol {
		list-style: none;
		border-top: 1px solid $d-10;
		margin-top: -1.5rem;
	}
	li {
		border-bottom: 1px solid $d-10;
		
	}
	article {
		
		
		
	}
	h1 {
		@include headline;
		font-weight: 600;
		margin-bottom: 0.25rem;
	}
	.meta {
		span {
		display: inline-block;
		margin-right: 3rem;
		}
	}
}

.list-push {
	padding-bottom: 5rem;
}

// Article
.post {
	
	.headline {
		padding: 0 0 5rem 0;
		color: $d-100;
	}
	
	.standfirst {}
	
	.meta-data {
		@include sans;
		span {
			display: block;
			line-height: 2rem;
		}
		.words, .tags {
			color: $d-30;
		}
	}
	

}

.post {
	@include serif;
	
	h1, h2, h3 {
		@include headline;
		
		
	}
	
	
	h2, h3, h4, h5 {
		padding: 1rem 0 1rem 0;
		color: $d-100;
	}
	
	h2 {
		@extend .large;
	}
	h3 {
		@extend .medium;
	}
	h4 {
		@include sans;
		@extend .medium;
		font-weight: 500;

	}
	h5 {
		@include sans;
		@extend .x-small;
		@extend .allcaps;
		font-weight: 500;
	}
	p, ul, ol {
		margin-bottom: 2rem;
	}
	blockqoute {}
	ul, ol {
		margin-left: 1rem;
		text-indent: 0.5rem;
	}
	ul {
		margin-left: 0.75rem;
	}
	hr {}
	.foot-ref {
		vertical-align: super;
		line-height: 0;
		font-size: 0.625rem;
		@include sans;
		font-weight: 400;
		
		a {
				color: $link
		}
	}
	
}





