---
title: Writing 
layout: default
---

%section.site-section.introduction 
	.grid-container
		.g-s-2
		
		.g-s-6
			
			
			
			%h1.xx-large
				Hello there, I’m <a><i>Gearóid</i></a>
							
%section.site-section 
	.grid-container
		.g-s-2
			%img{:src => "/images/me/avatar.png", :width => "75%"}
		.g-s-8.post
			%p.standfirst.large Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
		
	.grid-container
		.g-s-2
		.g-s-6.post
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
			%h4 Design @ Startups
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.
	%figure.grid-container.post
		
		
		.g-s-10
			
			%img{:src => "/images/me/design-and-banter.jpg"}
		.g-s-2
			%figcaption.x-small 
				Me, doing things
			
	.grid-container
		.g-s-2
		.g-s-6.post
			%h4 Type on Mars
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value.  
	
	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h3 
				Career to date
			%p 
				Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
		
	.grid-container	
		.g-s-2
			%h2.small.sidecar Career highlights
		.g-s-1
			%ol.career-list
				%li.year 2016 
				%li.year 2015 
				%li.year 2013 
				%li.year 2012 
				%li.year 2011 
		.g-s-3
			%ol.career-list
				%li VP Design
				%li Global Head of Design
				%li Head of Growth & Design
				%li Global Head of Design
				%li Head of Growth & Design
		.g-s-3
			%ol.career-list
				%li AngelList
				%li Helpling
				%li Hassle.com
				%li Helpling
				%li Hassle.com				
			


	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h3 Supporting the design community
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 


	.grid-container	
		.g-s-2
			%h2.small.sidecar 
				Events organized
		.g-s-1
			%ol.career-list
				%li.year 2020					
				%li.year 2016 
				%li.year 2015 
				%li.year 2013 
		.g-s-5
			%ol.career-list
				%li Design Leadreship Dinner Series
				%li Datamat.es
				%li SevenStopsSouth
				%li Design+Banter	
				
	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h3 Speaking at events
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 

	%ol.lined-list
		%li.grid-container	
			.g-s-2
				%h2.small.sidecar 
					Selected talks
			.g-s-1
				%p.meta 2020	
										
				
			.g-s-3
				%p First Fridays for Startups
					
			
			.g-s-2
				%p.meta Dublin, Ireland
				
		%li.grid-container	
			.g-s-2
				
			.g-s-1
				%p.meta 2020	
										
				
			.g-s-3
				%p First Fridays for Startups
					
			
			.g-s-2
				%p.meta Dublin, Ireland
					
					
		%li.grid-container	
			.g-s-2
				
			.g-s-1
				%p.meta 2020	
										
				
			.g-s-3
				%p First Fridays for Startups
					
			
			.g-s-2
				%p.meta Dublin, Ireland
		%li.grid-container	
			.g-s-2
				
			.g-s-1
				%p.meta 2020	
										
				
			.g-s-3
				%p 
					First Fridays for Startups
					<span class="mono">0123456789</span>
					
			
			.g-s-2
				%p.meta Dublin, Ireland
				
				
	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h2 Speaking at events
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
			

	.grid-container	
		.g-s-2
			
		.g-s-6
			
			%ol.lined-list
				%li.grid-container	
					%p.g-s-2.meta.mono 
						01
					%p.g-s-6 
						Selling suits
					%p.g-s-4.meta
						Dublin, Ireland
				%li.grid-container	
					%p.g-s-2.meta.mono 
						02
					%p.g-s-6 
						Bartender at a sports stadium
					%p.g-s-4.meta
						Dublin, Ireland
				%li.grid-container	
					%p.g-s-2.meta.mono 
						03
					%p.g-s-6 
						Bartender at a small pub
					%p.g-s-4.meta
						Cork, Ireland
				%li.grid-container	
					%p.g-s-2.meta.mono 
						20
					%p.g-s-6 
						First Fridays for Startups
					%p.g-s-4.meta
						Dublin, Ireland
				
			
	.grid-container
		.g-s-2
		.g-s-6.post
			%hr
			%h3 Ket sta
			%p Most recently I lead design at AngelList, the world's largest startup jobs marketplace. At AngelList I built the design team from 2 → 11 designers, developed product, design, content and business strategies, was integral to delivering key product relaunches, and was part of the deal team on three acquisitions totaling more than $50M in value. 
	.grid-container
		.g-s-2
		.g-s-6.post
			%h4 

				A hiring checklist
				&nbsp;
				&nbsp;
				%a.small (View as a Google spreadsheet)
	%ol.lined-list
		%li.grid-container	
			.g-s-2
				%h2.small.sidecar 
					Sourcing
			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week
				
		%li.grid-container	
			.g-s-2

			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week
					
		%li.grid-container	
			.g-s-2

			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week
				
		%li.grid-container	
			.g-s-2
				
			.g-s-1
										
			.g-s-5					
				&nbsp;
			.g-s-2
			
		%li.grid-container	
			.g-s-2
				%h2.small.sidecar 
					Sourcing
			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week
				
		%li.grid-container	
			.g-s-2

			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week
					
		%li.grid-container	
			.g-s-2

			.g-s-1
				%p.meta ▢
			.g-s-4
				%p Draw up a rubric										
				
			.g-s-2
				%p.meta Group workshop
			.g-s-2
				%p.meta ~ 1 week

	
