%footer
	%nav.site-section.global-nav.global-footer
		
		.grid-container
			.g-s-2
				%a.logo{:title => :"Profile", :href=> :"/profile"} Gearóid O’Rourke
			.g-s-1
				%a{:title => :"Writing", :href=> :"/writing"} Writing
			.g-s-1
				%a{:title => :"About", :href=> :"/about"} About
			.g-s-1
				%a{:title => :"Colophon", :href=> :"/colophon"} Colophon
			.g-s-2
				%a{:title => :"Colophon", :href=> :"/how-to-say-gearoid"} How to say “Gearóid”
			.g-s-3
			.g-s-2
				%p.meta.x-small © 2013—{{site.time | date: "%Y"}}