%header
	%nav.site-section.global-nav
		.grid-container
			.g-s-2
				%a.logo{:title => :"Profile", :href=> :"/"} Gearoid O'Rourke
			.g-s-1
				%a{:title => :"Writing", :href=> :"/writing"} Writing
			.g-s-1
				%a{:title => :"About", :href=> :"/about"} About