---

---
{% capture theme %}{{page.theme | default: "regular"}}{% endcapture %}


%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/style.css"}
	
	
	
	%body{:class => :"{{theme}}"}
		
		{% haml header.haml %}
		
		{{content}}
		
		{% haml footer.haml %}