---
layout: default
---
%main
	%article.site-section.post
		.grid-container
			.g-s-8.offset-2
				%h1.x-large.headline {{page.headline}}

		

		== {% case {{page.standfirst}} %}
		== {% when true %}
		.grid-container
			.g-s-2
				.meta-data
					%span.small.sidecar.category 
					%span.small.sidecar.date {{page.date | date: "%d %B, %Y"}}
					%span.small.sidecar.words {{ page.content | number_of_words | append: " words" }} on {{page.categories}}
					
			.g-s-8
				%p.standfirst.large 
					{{page.standfirst_text}}
		.grid-container
			.g-s-2
			.g-s-6
				{{ content }}
		== {% else %}
		.grid-container
			.g-s-2
				.meta-data
					%img{:src => "/images/me.png", :style => "width:66%;"}
					%br
					%br
					%span.small.sidecar.date {{page.date | date: "%d %B, %Y"}}
					%span.small.sidecar.words {{ page.content | number_of_words | append: " words" }}
			.g-s-6
				{{ content }}
		==  {% endcase %}

-#			
-#.paginator	
-#	.grid-container
-#		
-#		.g-s-6
-#			{% if page.previous.url %}
-#			.prev
-#				
-#				%p Previous article
-#				<a  class="medium"href="{{page.previous.url}}">“{{page.previous.title}}”</a>
-#				
-#				
-#			{% endif %}
-#		
-#		.g-s-6
-#			{% if page.next.url %}
-#			.next
-#				
-#				%p Next article 
-#				<a class="medium" href="{{page.next.url}}">{{page.next.title}}</a>
-#				
-#				
-#			{% endif %}
		
				
	